<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="DiscordBot:Token" value="MjM1NzU4NTIxMTQzMDAxMDg5.CuBmPQ.bDbWbOTqPKw59I-xFxKJtA3FJ28" />
    <add key="DiscordBot:Prefix" value="!" />
    <add key="YoutubeDownloader:CacheFolder" value="./DownloadCache" />
    <add key="YoutubeDownloader:SoundQuality" value="High" />
    <add key="BlobStorage:ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=musicbotcl;AccountKey=s8t/zum9wzEa4S8mBlxfeEqacx6MU+AFR6K5kw4Y0/O39Qvk1evZHtOTeF+leQmo7YsC4TX50++lm9jQl2JZ9A==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>